<script setup>
import store from './store';
import  'vue-router';
const { state, mutations, actions } = store;
</script>

<template>
  <div id="app">
    <h1>Hello App!</h1>
    <p>
      <router-link to="/login">Go to Login</router-link>
      <router-link to="/edit">Go to Edit</router-link>
    </p>
    <router-view />
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
