<!-- src/components/EditForm.vue -->
<script setup>
  import {ref, watch} from 'vue';
  import { useStore } from 'vuex';

  const store = useStore();
  const email = ref();
  const password = ref();

  const saveUser = async () => {
    await store.dispatch('saveEdited', {email: email.value, password: password.value});
    return { email, password };
  };

</script>
<template>
  <div>
    <h2>Edit User</h2>
    <form @submit.prevent="saveUser">
      <label for="name">Email:</label>
      <input type="text" id="name" v-model="email" />

      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password" />

      <button type="submit">Save</button>
    </form>
  </div>
</template>
