<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const email = ref('');
const password = ref('');
const handleSubmit = async () => {
  await store.dispatch('login', { email: email.value, password: password.value });
  return { email, password };
};
</script>

<template>
  <h2>Login User</h2>
  <div>
    <form @submit.prevent="handleSubmit">
      <label for="email">Email:</label>
      <input type="text" id="email" v-model="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password" required />

      <button type="submit">Login</button>
    </form>
  </div>
</template>

<style scoped>

</style>